<html>
<head></head>
<body>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title></title></head>
<body style="background-color: #f5f5f5;margin: 0px;font-family:Arial, Helvetica, sans-serif;color:#333333;text-decoration:none;-webkit-text-size-adjust: none;line-height:1.34;">
<table width=100% border=0 cellspacing=0 cellpadding=0 style="background: #212121">
    <tr><td style="padding:5px 10px 7px; margin:0">
        <table width=100% BORDER=0 align=right cellpadding=0 cellspacing=0>
            <tr>
            <td style="font-family:Arial,Helvetica,sans-serif;">
              <h1 style="font-size:18px;color:#FFFFFF;margin:0;"><%= heading %></h1>
            </td>
            </tr>
        </table>
            </td></tr>
            <tr height=1><td bgcolor="#dadada"></td></tr>
            <tr height=1><td bgcolor="#e7e7e7"></td></tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:25px 0 5px;">
  <tr><td>
    <table cellpadding="0" cellspacing="0" border="0" width="<%= theme 'fixed_width' %>" align="center">
        <tbody>
          <tr height="1"><td width="1" bgcolor="#F5F5F5"><div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#F4F4F4"><div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#EEEEEE"><div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#E9E9E9"></td><td width="592" bgcolor="#E7E7E7"></td><td width="1" bgcolor="#E9E9E9"><div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#EEEEEE"><div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#F4F4F4"> <div style="width:1px;height:1px"></div></td><td width="1" bgcolor="#F5F5F5"><div style="width:1px;height:1px"></div></td></tr><tr height="1"><td bgcolor="#F4F4F4"></td><td bgcolor="#E6E6E6"></td><td bgcolor="#E3E3E3"></td><td bgcolor="#F7F7F7"></td> <td bgcolor="#FFFFFF"></td><td bgcolor="#F7F7F7"></td><td bgcolor="#E3E3E3"></td><td bgcolor="#E6E6E6"></td><td bgcolor="#F4F4F4"></td></tr><tr height="1"><td bgcolor="#F3F3F3"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#FCFCFC"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FCFCFC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#F3F3F3"></td></tr>

<tr>
<td bgcolor="#EFEFEF"></td><td bgcolor="#DADADA"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td>
<td bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0">
        <% @dashboards.each do |dashboard| %>
	<tr>
            <td style="font-family:Arial,Helvetica,sans-serif;padding:15px 35px 0;">
              <h2 style="font-size:20px;margin:0; padding:0"><a href="<%= dashboard.href %>"><%= dashboard.name %></a></h2>
		<hr style="border:0;color:#cccccc;background-color:#cccccc;margin:5px 0;height:4px"/>
            </td>
	</tr>
        <% dashboard.graphs.each do |graph| %>
          <tr>
            <td style="margin-bottom: 10px; padding: 10px 35px;">
              <img src="<%= img_url(graph) %>" alt="graph" />
            </td>
          </tr>
        <% end %>
      <% end %>
</table>

</td>
<td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td><td bgcolor="#DADADA"></td><td bgcolor="#EFEFEF"></td>
</tr>
<tr height="1"><td bgcolor="#F3F3F3"></td><td bgcolor="#ECECEC"></td><td bgcolor="#DDDDDD"></td>
<td bgcolor="#DADADA"></td><td bgcolor="#DADADA"></td><td bgcolor="#DADADA"></td><td bgcolor="#DDDDDD"></td><td bgcolor="#ECECEC"></td><td bgcolor="#F3F3F3"></td></tr><tr height="1"><td bgcolor="#F3F3F3"></td>
<td bgcolor="#F1F1F1"></td><td bgcolor="#ECECEC"></td><td bgcolor="#E6E6E6"></td><td bgcolor="#E3E3E3"></td><td bgcolor="#E6E6E6"></td><td bgcolor="#ECECEC"></td><td bgcolor="#F1F1F1"></td><td bgcolor="#F3F3F3"></td></tr>
</tbody></table></td></tr></table>
</body>
<style type="text/css">
body, td, th  {font-family:Arial, Helvetica, sans-serif; -webkit-text-size-adjust: none;line-height:1.34;} 
a { color: #1A74B0; text-decoration: none; }
</style>
</html>
</body>
</html>
